@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
.font-weight-light {
  font-weight: 300; }

.font-weight-medium {
  font-weight: 400; }

.font-weight-regular {
  font-weight: 500; }

.font-weight-bold {
  font-weight: 700; }

.contenedor {
  background: linear-gradient(135deg, #4c4c4c 0%, #595959 12%, #111111 22%, #666666 33%, #474747 39%, #111111 44%, #111111 44%, #2c2c2c 50%, #1c1c1c 66%, #1c1c1c 66%, #1c1c1c 70%, #2b2b2b 74%, #131313 94%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; }
  .contenedor #carouselExampleCaptions .carousel-inner .carousel-item img {
    height: 30rem;
    width: 30rem; }

.container-fluid .contenedor .box, .container-fluid .contenedor #titulo {
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  display: block;
  height: 50rem;
  width: 50%;
  padding: 20px;
  margin-top: 2rem;
  padding: 5px 10px;
  overflow: auto; }
  .container-fluid .contenedor .box p, .container-fluid .contenedor #titulo p {
    font-weight: 300; }

footer {
  background-color: black;
  display: block;
  height: 6rem; }
  footer ul {
    display: flex;
    justify-content: space-evenly;
    height: 83%;
    align-items: center; }
    footer ul li {
      list-style: none;
      display: flex;
      justify-content: flex-end; }
      footer ul li img {
        height: 3rem;
        width: 3rem; }
        footer ul li img:hover {
          transform: scale(1.5); }
