body{
    color: rgb(0, 0, 0);
    }
.contenedor{
    background: $contColor;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    #carouselExampleCaptions{
        .carousel-inner{
            .carousel-item{
                img{
                    height: 30rem;
                    width: 30rem ;
                }
                
            }
        }
        
    }
    
}
h1{
    margin: 0;
}

.contIndx{
    background: $contColor;
    display: flex;
    height: 100vh;
    .centrarCont{
        align-items: center;
        justify-content: center;
    }
    .row{
        margin: 0;
        flex-direction: column;
        @include for-breakpoint(xxl){
            flex-direction: row;
            
        }
    }
    p{
        margin: 0;
        color: #fff;
    }
    .BoxImg{
        img{
            width: 15rem;
            height: 15rem;
            @include for-breakpoint(l){
                width: 17rem;
                height: 17rem;
            }
            @include for-breakpoint(xxl){
                width: 22rem;
                height: 22rem;
            }
        }
    }
}

.container-fluid{
    #titulo{
        @extend .box;

    }
    .contenedor{
        .box{
            border: double black;
            @include ColorFont; 
            display: block;
            height: 50rem;
            width: 80%;
            padding: 10px;
            margin: 0;
            overflow: auto;
            p{
                font-weight: map-get($font-w, light);
            }
        }
    }
}



footer{
    background-color: black;
    display: block;
    height: 6rem;
    ul{
        display: flex;
        justify-content: space-evenly;
        height: 83%;
        align-items: center;
        li{
            list-style: none;
            display: flex;
            justify-content: flex-end;
            img{
                height: 3rem;
                width: 3rem;
                &:hover{
                    transform: scale(1.5);
                }
            }
        }
    }  
}

