$contColor:linear-gradient(135deg, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(17,17,17,1) 22%,rgba(102,102,102,1) 33%,rgba(71,71,71,1) 39%,rgba(17,17,17,1) 44%,rgba(17,17,17,1) 44%,rgba(44,44,44,1) 50%,rgba(28,28,28,1) 66%,rgba(28,28,28,1) 66%,rgba(28,28,28,1) 70%,rgba(43,43,43,1) 74%,rgba(19,19,19,1) 94%);

$font-w:(
    light:300,
    medium:400,
    regular:500,
    bold:700    
);
@each $k, $v in $font-w{
    .font-weight-#{$k}{
        font-weight: $v;
    }
}
@mixin ColorFont{
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
    
}